@(userForms:play.api.data.Form[models.Cadastro.AlteraCodigoInfo], msg: String)(implicit request: play.api.mvc.RequestHeader)
@import helper._
@import securesocial.core.SecureSocial
    @implicitFieldConstructor = @{ FieldConstructor(defaultFieldConstructor.f) }




<div class="container" id="pagina-alterarCodigo">
    <div class="row">

        <div id="main" class="span12">

            <div class="login-register">
                <h2>Alterar Código de Acesso</h2>
                @request.flash.get("error").map { msg =>
                    <div class="alert alert-error">
                        @msg
                    </div>
                }
                @if(!msg.isEmpty){
                    <div class="alert alert-success"  role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                        @msg
                    </div>
                }
                <div class="row">
                    <div class="span8 offset2">

                        <div class="tab-content">
                            <div class="tab-pane active" id="login">
                                <form method="post" action="@request.uri">

                                    @if(SecureSocial.currentUser.isDefined && (new dao.UserDAO).verificanumCodigo(SecureSocial.currentUser.get.email.get, SecureSocial.currentUser.get.identityId.providerId)) {
                                        <div class="control-group">
                                            <label class="control-label">
                                                Código de acesso atual
                                            </label>

                                            <div class="controls">
                                            @helper.inputPassword(
                                                userForms("codigoAtual"),
                                                '_label -> ""
                                            )
                                            </div>
                                                <!-- /.controls -->
                                        </div>
                                            <!-- /.control-group -->
                                    }else{
                                        <div style="display: none">
                                        @helper.inputPassword(
                                            userForms("codigoAtual"),
                                            '_label -> ""
                                        )
                                        </div>

                                    }

                                    <div class="control-group">
                                        <label class="control-label">
                                            Novo código de acesso
                                        </label>

                                        <div class="controls">
                                        @helper.inputPassword(
                                            userForms("numCodigo.password1"),
                                            '_label -> ""
                                        )
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->

                                    <div class="control-group">
                                        <label class="control-label">
                                            Confirme o novo código de acesso
                                        </label>

                                        <div class="controls">
                                        @helper.inputPassword(
                                            userForms("numCodigo.password2"),
                                            '_label -> "",
                                            '_error -> userForms.error("numCodigo")
                                        )
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->

                                    <div class="form-actions">
                                        <input type="submit" value="Alterar código de acesso"
                                        class="btn btn-primary arrow-right">
                                    </div>
                                        <!-- /.form-actions -->
                                </form>
                            </div>
                                <!-- /.tab-pane -->
                        </div>
                            <!-- /.tab-content -->
                        <hr>
                    </div>
                        <!-- /.span4-->

                </div>
                    <!-- /.row -->
            </div>
                <!-- /.login-register -->

        </div>
            <!-- /#main -->

    </div>
        <!-- /.row -->
</div>
<!-- /.container -->