<div ng-controller="Contas" ng-cloak class="container" id="pagina-escritorio">
    <div class="row">

        <div class="span12">
            <h1 class="page-header">Contas Bancárias</h1>
            <div id="alert-novaConta" class="alert"
            ng-class="{'alert-error': formData.resp.result == 0, 'alert-info': formData.resp.result == 1}"
            ng-show="formData.resp.message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span ng-bind="formData.resp.message"></span>
            </div>
        </div>

        <div class="span12">
            <a href="#modal-novaConta" role="button"
            class="btn btn-primary" data-toggle="modal">
                Adicionar Nova Conta</a>
            <br> <br>
        </div>

        <div class="span12">
            <div class="tab-content">
                <table id="tabela-contas" class="table display table-striped table-bordered dataTable no-footer">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Banco</th>
                            <th>Agência</th>
                            <th>Conta</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in contas.lista">
                            <td class="contas-padrao">
                                <span ng-show="item.padrao=='1'"><i class="icon icon-ok"></i>
                                    <strong><i>Padrão</i></strong></span>
                                <a ng-show="item.padrao=='0'" class="btn" ng-click="tornarPadrao(item)">
                                    <i class="icon icon-edit"></i> <i>Tornar Padrão</a>
                            </td>
                            <td class="contas-banco" ng-bind="item.banco.nome"></td>
                            <td class="contas-agencia" ng-bind="item.agencia"></td>
                            <td class="contas-conta" ng-bind="item.conta"></td>
                            <td class="contas-remover">
                                <a ng-click="removerConta(item)" class="btn">
                                    <i class="icon icon-trash"></i>Remover</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
        </div>

    </div> <!-- /.row -->


    <!-- Modal -->
    <div id="modal-novaConta" data-keyboard="false" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="novaConta" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="novaConta">Adicionar nova conta</h3>
        </div>
        <form name="formNovaConta" novalidate ng-submit="adicionarConta(formNovaConta, formNovaConta.$invalid)">
            <div class="modal-body">
                <div id="alert-novaConta" class="alert"
                ng-class="{'alert-error': formData.result == 0, 'alert-info': formData.result == 1}"
                ng-show="formData.message" ng-bind="formData.message">
                </div>
                <div class="tab-pane">
                    <div class="tab-content">
                        <div class="form-group">
                            <label>Banco</label>
                            <select name="numBanco" ng-model="formData.fields.numBanco.value"
                            required ui-select2="{width:'100%'}" data-placeholder="Selecione uma opção">
                                <option value=""></option>
                                <option ng-repeat="banco in bancos.lista | orderBy: 'codigo'"
                                ng-value="banco.codigo+':'+banco.descricao"
                                ng-bind="banco.descricao"></option>
                            </select>
                            <span class="error-msg" ng-bind="formData.fields.banco.error"></span>
                            <p>Requerido</p>
                        </div>
                        <div class="form-group">
                            <label>Agência</label>
                            <input type="text" name="agencia" ng-model="formData.fields.agencia.value" required>
                            <span class="error-msg" ng-bind="formData.fields.agencia.error"></span>
                            <p>Requerido</p>
                        </div>
                        <div class="form-group">
                            <label>Conta</label>
                            <input type="text" name="conta" ng-model="formData.fields.conta.value" required>
                            <span class="error-msg" ng-bind="formData.fields.conta.error"></span>
                            <p>Requerido</p>
                        </div>
                        <div class="form-group">
                            <label class="checkbox">Definir como conta padrão.
                                <input type="checkbox" name="padrao" ng-model="formData.fields.padrao.value" checked="true">
                            </label>
                            <span class="error-msg" ng-bind="formData.fields.padrao.error"></span>
                            <p>Requerido</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button class="btn btn-primary" type="submit">Adicionar Conta</button>
            </div>
        </form>
    </div>

</div> <!-- /.container -->