@(userForms: play.api.data.Form[models.Cadastro.AlterarDadosInfo], msg: String, user: Option[securesocial.core.Identity], userdao: dao.UserDAO )(implicit request: play.api.mvc.RequestHeader)
@import helper._
    @implicitFieldConstructor = @{
        FieldConstructor(defaultFieldConstructor.f)
    }

<div ng-controller="SignUp" ng-cloak class="container" id="pagina-signUp">
    @if(user.nonEmpty && (!userdao.verificaCadastro(user.get.email.get, user.get.identityId.providerId))) {
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            @{
                user.get.firstName
            }, É muito importante completar o cadastro, sem isso você não poderá negociar Cartas
        </div>
    }
    <div class="row">
        <div id="main" class="span12">
            <div class="login-register">
                <h2>Dados Cadastrais</h2>
                @request.flash.get("error").map { msg =>
                    <div class="alert alert-error">
                        @msg
                    </div>
                }
                @if(!msg.isEmpty) {
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                        @msg
                    </div>
                }
                <div class="row">
                    <form action="/dadoscadastrais" autocomplete= "off" method="POST">
                        <div class="span6">
                            <h1>Dados Pessoais</h1>
                            <div class="tab-content">
                                <div class="tab-pane active" id="dadosPessoais">
                                    <div class="control-group">
                                        <label class="control-label">
                                            Nome Completo
                                        </label>
                                        <div class="controls">
                                        @helper.inputText(
                                            userForms("firstName"),
                                            '_label -> "",
                                            'placeholder -> "Nome Completo"
                                        )
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->

                                    <div class="control-group">
                                        <label class="control-label">
                                            Data de Nascimento
                                        </label>
                                        <div class="controls date">
                                        @helper.inputText(
                                            userForms("birthDate"),
                                            '_label -> "",
                                            'placeholder -> "Data de Nascimento"
                                        )
                                        </div>
                                    </div>
                                        <!-- /.control-group -->


                                    <div class="control-group">
                                        <label class="control-label"></label>
                                        <div class="controls">
                                            <label class="radio control-label" for="cpf">CPF
                                                <input type="radio" class="radio tpDoc controls" name="tpDoc" value="cpf" id="RadioGroup_cpf" checked="checked" />
                                            </label>
                                            <label class="radio control-label" for="cnpj">CNPJ
                                                <input type="radio" class="radio tpDoc controls" name="tpDoc" value="cnpj" id="RadioGroup_cnpj" />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"></label>
                                        <div class="controls">
                                        @helper.inputText(
                                            userForms("docFederal"),
                                            'placeholder -> "CPF ou CNPJ",
                                            '_label -> ""
                                        )
                                        </div>
                                    </div><!-- /.control-group -->

                                    <div class="control-group">
                                        <label class="control-label">
                                            RG
                                        </label>
                                        <div class="controls">
                                        @helper.inputText(
                                            userForms("rg"),
                                            'placeholder -> "Identidade",
                                            '_label -> ""
                                        )
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->

                                </div>
                                    <!-- /.tab-pane -->
                            </div>
                                <!-- /.tab-content -->


                        </div>
                            <!-- /.span4-->

                        <div class="span6">
                            <h1>Endereço</h1>
                            <div class="tab-content">
                                <div class="tab-pane active" id="endereco">


                                    <div class="control-group">
                                        <label class="control-label">
                                            Cep
                                        </label>
                                        <div class="controls" >
                                            @helper.inputText(
                                                userForms("numCep"),
                                                'placeholder -> "Cep do seu Endereço",
                                                '_label -> ""
                                            )
                                            <button class="btn btn-primary" id="btnCep">
                                                Completar Cadastro Pelo Cep
                                            </button>
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->


                                    <div class="control-group">
                                        <label class="control-label">
                                            Estado
                                        </label>
                                        @*<br>*@
                                        <div class="controls">
                                        @helper.inputText(
                                            userForms("uf"),
                                            '_label -> ""
                                            //'class -> "span3"

                                        )
                                        </div>
                                    </div>


                                    <div class="control-group">
                                        <label class="control-label">
                                            Cidade
                                        </label>
                                        <div class="controls">
                                        @helper.inputText(
                                            userForms("cidade"),
                                            'placeholder -> "Cidade",
                                            '_label -> ""
                                        )
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->

                                    <div class="control-group">
                                        <label class="control-label">
                                            Bairro
                                        </label>
                                        <div class="controls">
                                        @helper.inputText(
                                            userForms("bairro"),
                                            'placeholder -> "Bairro",
                                            '_label -> ""
                                        )
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->


                                    <div class="control-group">
                                        <label class="control-label">
                                            Endereço
                                        </label>
                                        <div class="controls">
                                        @helper.inputText(
                                            userForms("logradouro"),
                                            'placeholder -> "Rua, Avenida, ..",
                                            '_label -> ""
                                        )
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->

                                    <div class="control-group">
                                        <label class="control-label">
                                            Número e Complemento
                                        </label>
                                        <div class="controls">
                                        @helper.inputText(
                                            userForms("numLogradouro"),
                                            'placeholder -> "Número e Complemento",
                                            '_label -> ""
                                        )
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->
                                </div>
                                    <!-- /.tab-pane -->
                            </div>
                                <!-- /.tab-content -->


                        </div>
                            <!-- /.span4-->

                        <div class="span12 submission-form">
                            <hr>
                            <div class="form-actions">
                                <input type="submit" class="btn btn-primary" value="Salvar">
                            </div>
                        </div>

                    </form>
                </div>
                    <!-- /.row -->
            </div>
                <!-- /.login-register -->

        </div>
            <!-- /#main -->
    </div> <!-- /.row -->
</div><!-- /.container -->


