@(implicit user: Option[securesocial.core.Identity], request: RequestHeader)
<div class="container" id="pagina-detalhes">
    <div class="row">
        <div id="main" class="span12 single-property">
            <h1 class="page-header fl">Imóvel</h1>
            <div class="property-detail">
                <div class="overview">
                    <div class="row">
                        <div class="span8">
                            <h2 style="">Rodobens</h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Valor do Crédito</th>
                                        <td class="price">
                                            R$ 60.000,00
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Código da Carta:</th>
                                        <td><strong>000104</strong></td>
                                    </tr>
                                    <tr>
                                        <th>Valor de entrada:</th>
                                        <td>R$ 17.000,00</td>
                                    </tr>
                                    <tr>
                                        <th>Prazo</th>
                                        <td>145 dias</td>
                                    </tr>
                                    <tr>
                                        <th>Status:</th>
                                        <td>Reservada</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span4 pull-right" >
                            <div class="tab-content">
                                @if(user.isDefined) {
                                    <button class="btn btn-primary btn-large edit">
                                        Editar<span></span>
                                    </button>
                                    <button class="btn btn-primary btn-large remove">
                                        Excluir<span></span>
                                    </button>
                                } else {
                                    <button class="btn btn-primary btn-large interesse">
                                        Estou Interessado!
                                    </button>
                                }
                            </div>
                        </div> <!-- /.span2 -->
                    </div><!-- /.row -->
                </div><!-- /.overview -->
            </div><!-- /.property-detail -->
        </div><!-- /#main -->
    </div><!-- /.row -->
</div> <!-- /.container -->