@(implicit userdao: dao.UserDAO, user: Option[securesocial.core.Identity])
<div ng-controller="Escritorio" class="container" id="pagina-escritorio">
    @if(user.nonEmpty && (!userdao.verificaCadastro(user.get.email.get, user.get.identityId.providerId))) {
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            @{
                user.get.firstName
            }, Finalize seus dados Cadastrais clicando  <a href="/dadoscadastrais"><strong style="color : darkblue">
            Aqui </strong> </a>
        </div>
    }
    @if(user.nonEmpty && (!userdao.verificanumCodigo(user.get.email.get, user.get.identityId.providerId))) {
        <div class="alert alert-alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only"></span></button>
            @{
                user.get.firstName
            }
            , Registre seu Código de Compra/Venda clicando  <a href="/alterarcodigo"><strong style="color : darkblue">
            Aqui </strong> </a>
        </div>
    }
    <div class="row">
        <div id="main" class="span12">

            <h1 class="page-header">Escritório Online</h1> <br>

            <div ng-cloak class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-compras" data-toggle="tab">Compras</a></li>
                    <li><a href="#tab-vendas" data-toggle="tab">Vendas</a></li>
                    @*<li><a href="#tab-reputacao" data-toggle="tab">Reputação</a></li>*@
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-compras">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h1 class="page-header">Compras</h1>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered dataTable no-footer">
                            <thead>
                                <tr>
                                    <th>Código da Carta</th>
                                    <th>Valor do Bem</th>
                                    <th>Tipo</th>
                                    <th>Administradora</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="carta in compras.lista">
                                    <td class="compras-codigo">
                                        <a ng-bind="carta.codigo"
                                        ng-href="detalhes/+carta.codigo"></a>
                                    </td>
                                    <td class="compras-valor" xd-mask-money-brl
                                    ng-bind="carta.valorDoBem"></td>
                                    <td class="compras-tipo"
                                    ng-bind="carta.tipo.nome"></td>
                                    <td class="compras-administradora"
                                    ng-bind="carta.administradora.nome"></td>
                                    <td class="compras-status">
                                        <strong class="publish"
                                        ng-bind="carta.status.nome"></strong>
                                    </td>
                                    <td class="actions">
                                        <a href="#" class="download" title="Baixar o Boleto">Baixar&nbsp;o&nbsp;Boleto</a>
                                        <a href="property-detail.html" class="view" title="Ver Detalhes">Ver&nbsp;Detalhes</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="tab-vendas">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h1 class="page-header">Vendas</h1>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered dataTable no-footer">
                            <thead>
                                <tr>
                                    <th>Código da Carta</th>
                                    <th>Valor do Bem</th>
                                    <th>Tipo</th>
                                    <th>Administradora</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="carta in vendas.lista">
                                    <td class="compras-codigo">
                                        <a ng-bind="carta.codigo"
                                        ng-href="detalhes/+carta.codigo"></a>
                                    </td>
                                    <td class="compras-valor"
                                    ng-bind="carta.valorDoBem"></td>
                                    <td class="compras-tipo"
                                    ng-bind="carta.tipo.nome"></td>
                                    <td class="compras-administradora"
                                    ng-bind="carta.administradora.nome"></td>
                                    <td class="compras-status">
                                        <strong class="publish"
                                        ng-bind="carta.status.nome"></strong>
                                    </td>
                                    <td class="actions">
                                        <a href="#" class="download" title="Baixar o Boleto">Baixar&nbsp;o&nbsp;Boleto</a>
                                        <a href="property-detail.html" class="view" title="Ver Detalhes">Ver&nbsp;Detalhes</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                        <!--
                    <div class="tab-pane" id="tab-reputacao">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h1 class="page-header">Reputação</h1>
                            </div>
                        </div>
                        <table class="table span4">
                            <tr>
                                <th>Compras</th>
                                <td>2</td>
                            </tr>
                            <tr>
                                <th>Vendas</th>
                                <td>9</td>
                            </tr>
                        </table>
                    </div>
                    -->
                </div>
            </div>
            <br>

        </div> <!-- /#main -->
    </div> <!-- /.row -->
</div> <!-- /.container -->