<div class="container" id="pagina-escritorio">
    <div class="row">

        <div id="main" class="span12">

            <div class="clearfix">
                <div class="pull-left">
                    <h1 class="page-header">Reputação</h1>
                </div>
                    <!-- /.pull-left -->
            </div>
                <!-- /.clearfix -->

            <div class="display">
                <span class="reputacao-compras">
                    <strong>Compras: </strong> 2
                </span>
                <span class="reputacao-vendas">
                    <strong>Vendas: </strong> 8
                </span>
            </div>

            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-compras" data-toggle="tab">Compras</a></li>
                    <li><a href="#tab-vendas" data-toggle="tab">Vendas</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-compras">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h1 class="page-header">Compras</h1>
                            </div>
                        </div>
                        <table class="table submissions-table" xd-data-table>
                            <thead>
                                <tr>
                                    <th>Código da Carta</th>
                                    <th>Valor do Bem</th>
                                    <th>Tipo</th>
                                    <th>Administradora</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="compras-codigo">
                                        <a href="detalhamento.html">000104</a>
                                    </td>

                                    <td class="compras-valor">
                            R$ 8.000,00
                                    </td>

                                    <td class="compras-tipo">
                            Carro
                                    </td>

                                    <td class="compras-administradora">
                            Rodobens
                                    </td>

                                    <td class="compras-status">
                                        <strong class="publish">Aguardando Documentação</strong>
                                    </td>

                                    <td class="actions">
                                        <a href="#" class="download" title="Baixar o Boleto">Baixar&nbsp;o&nbsp;Boleto</a>
                                        <a href="property-detail.html" class="view" title="Ver Detalhes">Ver&nbsp;Detalhes</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab-vendas">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h1 class="page-header">Vendas</h1>
                            </div>
                        </div>
                        <table class="table submissions-table" xd-data-table>
                            <thead>
                                <tr>
                                    <th>Código da Carta</th>
                                    <th>Valor do Bem</th>
                                    <th>Tipo</th>
                                    <th>Administradora</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="vendas-codigo">
                                        <a href="/detalhes/104">000104</a>
                                    </td>
                                    <td class="vendas-valor">
                            R$ 8.000,00
                                    </td>
                                    <td class="vendas-tipo">
                            Carro
                                    </td>
                                    <td class="vendas-administradora">
                            Rodobens
                                    </td>
                                    <td class="vendas-status">
                                        <strong class="publish">Aguardando Documentação</strong>
                                    </td>
                                    <td class="actions">
                                        <a href="#" class="download" title="Baixar o Boleto">Baixar&nbsp;o&nbsp;Boleto</a>
                                        <a href="property-detail.html" class="view" title="Ver Detalhes">Ver&nbsp;Detalhes</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
            <!-- /#main -->
    </div>
        <!-- /.row -->
</div>
<!-- /.container -->