<div class="container" id="pagina-loginCadastro">
    <div class="row">

        <div id="main" class="span12">

            <div class="login-register">
                <h2>Fale Conosco</h2>

                <div class="row">
                    <div class="span8 offset2">

                        <div class="tab-content">
                            <div class="tab-pane active" id="login">
                                <form method="post" action="javascript:void(0)">

                                    <div class="control-group">
                                        <label class="control-label">
                                            Assunto
                                            <span class="form-required">*</span>
                                        </label>

                                        <div class="controls">
                                            <input type="text" name="assunto" required="required">
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->

                                    <div class="control-group">
                                        <label class="control-label">
                                            Mensagem
                                            <span class="form-required">*</span>
                                        </label>

                                        <div class="controls">
                                            <textarea name="mensagem" required="required"
                                            style="min-height: 240px;
                                            width: 100%"></textarea>
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->

                                    <div class="form-actions">
                                        <input type="submit" value="Enviar"
                                        class="btn btn-primary arrow-right">
                                    </div>
                                        <!-- /.form-actions -->
                                </form>
                            </div>
                                <!-- /.tab-pane -->
                        </div>
                            <!-- /.tab-content -->
                        <hr>
                    </div>
                        <!-- /.span4-->

                </div>
                    <!-- /.row -->
            </div>
                <!-- /.login-register -->

        </div>
            <!-- /#main -->

    </div>
        <!-- /.row -->
</div>
<!-- /.container -->