@(implicit user: Option[securesocial.core.Identity])
@import securesocial.core.java.SecureSocial
<div class="container" id="pagina-loginCadastro">
    <div class="row">

        <div id="main" class="span12">

            <div class="login-register">
                <h2>Fale Conosco</h2>

                <div class="row">
                    <div class="span8 offset2">

                        <div class="tab-content">
                            <div class="tab-pane active" id="login">
                                <form method="post" action="javascript:void(0)">

                                    @if(user == null || !user.isDefined) {
                                        <div class="control-group">
                                            <label class="control-label">
                                                Nome
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="nome" required="required">
                                                <p>Requerido</p>
                                            </div><!-- /.controls -->
                                        </div> <!-- /.control-group -->

                                        <div class="control-group">
                                            <label class="control-label">
                                                E-mail
                                            </label>
                                            <div class="controls">
                                                <input type="email" name="email" required="required">
                                                <p>Requerido</p>
                                            </div><!-- /.controls -->
                                        </div> <!-- /.control-group -->
                                    }

                                    <div class="control-group">
                                        <label class="control-label">
                                            Assunto
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="assunto" required="required">
                                            <p>Requerido</p>
                                        </div><!-- /.controls -->
                                    </div> <!-- /.control-group -->

                                    <div class="control-group">
                                        <label class="control-label">
                                            Mensagem
                                        </label>

                                        <div class="controls">
                                            <textarea name="mensagem" required="required"></textarea>
                                            <p>Requerido</p>
                                        </div>
                                            <!-- /.controls -->
                                    </div>
                                        <!-- /.control-group -->

                                    <div class="form-actions">
                                        <input type="submit" value="Enviar"
                                        class="btn btn-primary arrow-right">
                                    </div>
                                        <!-- /.form-actions -->
                                </form>
                            </div>
                                <!-- /.tab-pane -->
                        </div>
                            <!-- /.tab-content -->
                        <hr>
                    </div>
                        <!-- /.span4-->

                </div>
                    <!-- /.row -->
            </div>
                <!-- /.login-register -->

        </div>
            <!-- /#main -->

    </div>
        <!-- /.row -->
</div>
    <!-- /.container -->