<div ng-controller="NovaCarta" class="container" id="pagina-novaCarta">
    <h1 class="page-header fl row">{{strings.titulo}}</h1>
    <form method="post">
        <div class="row-fluid">
            <div class="span6">
                <div class="tab-content">
                    <div class="tab-pane active" id="novaCarta">
                        <div class="control-group">
                            <label class="control-label">{{strings.tipo}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <select ng-model="selecao.tipo" xd-chosen
                                ng-options="item.codigo as item.descricao for item in tipos">
                                    <option value="-1">-</option>
                                </select>
                                <input name="tipo" type="hidden" ng-value="selecao.tipo">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{strings.administradora}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <select ng-model="selecao.administradora" xd-chosen
                                ng-options="item.codigo as item.descricao for item in administradoras">
                                    <option value="-1">-</option>
                                </select>
                                <input name="administradora" type="hidden" ng-value="selecao.administradora">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{strings.status}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <select ng-model="selecao.status" xd-chosen
                                ng-options="item.codigo as item.descricao for item in status">
                                    <option value="-1">-</option>
                                </select>
                                <input name="status" type="hidden" ng-value="selecao.status">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{strings.prazoRestante}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" required="required" name="prazo">
                            </div>
                                <!-- /.controls -->
                        </div>
                            <!-- /.control-group -->

                    </div>
                        <!-- /.tab-pane -->
                </div>
                    <!-- /.tab-content -->

            </div>
                <!-- /.span4-->
            <div class="span6">
                <div class="tab-content">
                    <div class="tab-pane active" id="novaCarta2">

                        <div class="control-group">
                            <label class="control-label">{{strings.valorCredito}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <input type="number" required="required" name="credito">
                            </div>
                                <!-- /.controls -->
                        </div>
                            <!-- /.control-group -->

                        <div class="control-group">
                            <label class="control-label">{{strings.valorEntrada}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <input type="number" required="required" name="entrada">
                            </div>
                                <!-- /.controls -->
                        </div>
                            <!-- /.control-group -->

                        <div class="control-group">
                            <label class="control-label">{{strings.valorPrestacao}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <input type="number" required="required" name="prestacao">
                            </div>
                                <!-- /.controls -->
                        </div>
                            <!-- /.control-group -->

                        <div class="control-group">
                            <label class="control-label">{{strings.cota}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" required="required" name="cota">
                            </div>
                                <!-- /.controls -->
                        </div>
                            <!-- /.control-group -->

                    </div>
                        <!-- /.tab-pane -->
                </div>
                    <!-- /.tab-content -->
            </div>
                <!-- /.span4-->

        </div>
        <div class="row">
            <hr/>
            <div class="span12 submission-form">
                <div class="form-actions">
                    <input ng-click="confirmar()" ng-value="strings.botaoAnunciar" type="submit" class="btn btn-primary">
                </div>
            </div>
        </div>
            <!-- /.row -->
    </form>
</div>
<!-- /.container -->