<div ng-controller="NovaCarta" ng-cloak class="container" id="pagina-novaCarta">
    <h1 class="page-header fl row" ng-bind="strings.titulo"></h1>
        <!--FORMULARIO-->
    <form name="formNovaCarta" ng-submit="enviarForm(formNovaCarta, formNovaCarta.$invalid)" novalidate>
        <div class="row-fluid">
            <div class="span6">
                <div class="tab-content">
                    <div class="tab-pane active" id="novaCarta">
                            <!--TIPO-->
                        <div class="form-group">
                            <label ng-bind="strings.tipo"></label>
                            <select name="tipo" ng-model="formData.fields.tipo.value"
                            required ui-select2="{width:'100%'}" data-placeholder="Selecione uma opção">
                                <option value=""></option>
                                <option ng-repeat="item in tipo.lista | orderBy: 'descricao'"
                                ng-value="item.codigo"
                                ng-bind="item.descricao"></option>
                            </select>
                            <span class="error-msg" ng-bind="formData.fields.tipo.error"></span>
                            <p>Requerido</p>
                        </div>
                            <!--ADMINISTRADORA-->
                        <div class="form-group">
                            <label ng-bind="strings.administradora"></label>
                            <select name="administradora" ng-model="formData.fields.administradora.value"
                            required ui-select2="{width:'100%'}" data-placeholder="Selecione uma opção">
                                <option value=""></option>
                                <option ng-repeat="item in administradora.lista | orderBy: 'descricao'"
                                ng-value="item.codigo"
                                ng-bind="item.descricao"></option>
                            </select>
                            <span class="error-msg" ng-bind="formData.fields.administradora.error"></span>
                            <p>Requerido</p>
                        </div>
                            <!--CONTEMPLACAO-->
                        <div class="form-group">
                            <label ng-bind="strings.contemplacao"></label>
                            <select name="contemplacao" ng-model="formData.fields.contemplacao.value"
                            required ui-select2="{width:'100%'}" data-placeholder="Selecione uma opção">
                                <option value=""></option>
                                <option ng-repeat="item in contemplacao.lista | orderBy: 'descricao'"
                                ng-value="item.codigo"
                                ng-bind="item.descricao"></option>
                            </select>
                            <span class="error-msg" ng-bind="formData.fields.contemplacao.error"></span>
                            <p>Requerido</p>
                        </div>
                            <!--PRAZO RESTANTE-->
                        <div class="form-group">
                            <label ng-bind="strings.prazoRestante"></label>
                            <input type="text" name="prazoRestante" ng-model="formData.fields.prazoRestante.value" required>
                            <span class="error-msg" ng-bind="formData.fields.prazoRestante.error"></span>
                            <p>Requerido</p>
                        </div>>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="tab-content">
                    <div class="tab-pane active" id="novaCarta2">

                        <div class="control-group">
                            <label class="control-label">{{strings.valorCredito}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <input type="number" required="required" name="credito">
                            </div>
                                <!-- /.controls -->
                        </div>
                            <!-- /.control-group -->

                        <div class="control-group">
                            <label class="control-label">{{strings.valorEntrada}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <input type="number" required="required" name="entrada">
                            </div>
                                <!-- /.controls -->
                        </div>
                            <!-- /.control-group -->

                        <div class="control-group">
                            <label class="control-label">{{strings.valorPrestacao}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <input type="number" required="required" name="prestacao">
                            </div>
                                <!-- /.controls -->
                        </div>
                            <!-- /.control-group -->

                        <div class="control-group">
                            <label class="control-label">{{strings.cota}}
                                <span class="form-required" title="Esse campo é requerido.">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" required="required" name="cota">
                            </div>
                                <!-- /.controls -->
                        </div>
                            <!-- /.control-group -->

                    </div>
                        <!-- /.tab-pane -->
                </div>
                    <!-- /.tab-content -->
            </div>
                <!-- /.span4-->

        </div>
        <div class="row">
            <hr/>
            <div class="span12 submission-form">
                <div class="form-actions">
                    <input ng-click="confirmar()" ng-value="strings.botaoAnunciar" type="submit" class="btn btn-primary">
                </div>
            </div>
        </div>
            <!-- /.row -->
    </form>
</div>
<!-- /.container -->