@(implicit userdao: dao.UserDAO, user: Option[securesocial.core.Identity], query: String)
<div ng-controller="Pesquisa" class="container" id="pagina-pesquisa" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        @if(user.nonEmpty && (!userdao.verificaCadastro(user.get.email.get, user.get.identityId.providerId))) {
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                @{
                    user.get.firstName
                }, Finalize seus dados Cadastrais clicando  <a href="/dadoscadastrais"><strong style="color : darkblue">
                Aqui </strong> </a>
            </div>
        }
        @if(user.nonEmpty && (!userdao.verificanumCodigo(user.get.email.get, user.get.identityId.providerId))) {
            <div class="alert alert-info " role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                @{
                    user.get.firstName
                }
                , Registre seu Código de Compra/Venda clicando  <a href="/alterarcodigo"><strong style="color : darkblue">
                Aqui </strong> </a>
            </div>
        }

        <div class="sidebar span3" id="caixa-filtros">
            <h2>{{tituloCaixaFiltros}}</h2>
            <div class="property-filter widget">
                <div class="content">
                    <form method="get" action="/pesquisa">
                        <div ng-repeat="filtro in filtros" class="location control-group">
                            <label class="control-label">{{filtro.descricao}}</label>
                            <div class="controls">
                                <select ng-model="filtro.selecionado" xd-chosen
                                ng-options="item.codigo as item.descricao for item in filtro.lista">
                                    <option value="-1">-</option>
                                </select>
                                <input name="{{filtro.codigo}}" type="hidden" value="{{filtro.selecionado}}">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-primary btn-large" type="submit">
                                {{textoBotaoFiltrar}}</button>
                            <button class="btn btn-primary btn-large"
                            ng-click="limpar()">
                                {{textoBotaoLimpar}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="main" class="span9 property-listing">

            <h1 class="page-header">{{tituloResultados()}}</h1>

            <div class="clearfix"></div>

            <div class="properties-rows">
                <div class="filter-wrapper">
                    <div class="filter pull-right">
                        <form action="javascript:void(0)" method="get"
                        class="form-sort form-horizontal pull-right">
                            <div class="pager pull-right">
                                <ul class="pager">
                                    <li><a href="#" ng-click="voltarPagina()">
                                        <i class="icon icon-normal-left-arrow-small"></i></a>
                                    </li>
                                    <li><a href="#" ng-click="passarPagina()">
                                        <i class="icon icon-normal-right-arrow-small"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="control-group pull-right">
                                <div class="controls">
                                    <select ng-model="ordenadores.selecionado" xd-chosen
                                    ng-change="ordenarResultado()"
                                    ng-options="ordenador.codigo as ordenador.descricao for ordenador in ordenadores.lista">
                                    </select>
                                </div>
                            </div>
                            <div class="control-group pull-right">
                                <div class="controls">
                                    <select ng-model="ordem.selecionada" xd-chosen
                                    ng-change="ordenarResultado()"
                                    ng-options="ordem.codigo as ordem.descricao for ordem in ordem.lista">
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="properties-rows" id="resultadosPesquisa">
                <div class="row">
                    <div ng-repeat="resultado in resultados.lista" class="property span9">
                        <div class="row">
                            <div class="body span9">
                                <div class="title-price row">
                                    <div class="title span9">
                                        <h2><a href="property-detail.html">
                                            {{resultado.administradora.nome}}</a>
                                        </h2>
                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                                <div class="price">{{'R$ '+resultado.valorDoBem}}</div>
                                <div class="location">{{resultado.tipo.nome}}</div>
                                <div class="body">
                                    <p>{{resultado.descricaoBreve}}</p>
                                </div>
                                <div class="property-info clearfix">
                                    <div class="more-info">
                                        <a href="{{'/detalhes/' + resultado.codigo}}">
                                            {{resultados.textoDetalhes}}
                                            <i class="icon icon-normal-right-arrow-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination pagination-centered">
                <ul class="unstyled">
                    <li><a href="#" ng-click="primeiraPagina()">Primeira</a></li>
                    <li><a href="#" ng-click="voltarPagina()">Anterior</a></li>
                    <li ng-repeat="n in [] | Range:paginasExibidas()"
                    ng-class="{active: paginaSelecionada($index+paginasPassadas())}">
                        <a href="#" ng-click="irParaPagina($index+paginasPassadas())">
                            {{$index+paginasPassadas()}}</a></li>
                    <li><a href="#" ng-click="passarPagina()">Próxima</a></li>
                    <li><a href="#" ng-click="ultimaPagina()">Última</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>