<div class="container" id="pagina-detalhes">
    <div class="row">

        <div ng-controller="Simulador" ng-cloak id="simulador" class="col-lg-12 single-property">

            <h1 class="page-header fl" ng-bind="strings.titulo"></h1>

            <div class="property-detail">

                <div class="overview">
                    <div class="overview">
                        <div class="row-fluid">
                            <div class="span6">
                                <h2 ng-bind="strings.subtitulo"></h2>
                                <p ng-bind="strings.texto"></p>
                            </div>
                            <div class="span6">
                                <div class="tab-content">
                                    <form name="simForm" novalidate ng-submit="calcular(simForm, simForm.$invalid)">
                                        <div class="form-group">
                                            <label ng-bind="strings.valorCredito"></label>
                                            <input type="text" name="valorCredito" ng-model="formData.fields.valorCredito.value"
                                            required xd-mask-money-brl>
                                            <span class="error-msg" ng-bind="formData.fields.valorCredito.error"></span>
                                            <p>Requerido</p>
                                        </div>
                                        <div class="form-group">
                                            <label ng-bind="strings.valorPrestacoes"></label>
                                            <input type="text" name="valorPrestacoes" ng-model="formData.fields.valorPrestacoes.value"
                                            required xd-mask-money-brl>
                                            <span class="error-msg" ng-bind="formData.fields.valorPrestacoes.error"></span>
                                            <p>Requerido</p>
                                        </div>
                                        <div class="form-group">
                                            <label ng-bind="strings.prazoRestante"></label>
                                            <input type="text" name="prazoRestante" ng-model="formData.fields.prazoRestante.value"
                                            required xd-mask-positive-number>
                                            <span class="error-msg" ng-bind="formData.fields.prazoRestante.error"></span>
                                            <p>Requerido</p>
                                        </div>
                                        <div class="form-group">
                                            <label ng-bind="strings.resultado">Agência</label>
                                            <input type="text" name="resultado" ng-model="formData.fields.resultado.value"
                                            disabled>
                                            <span class="error-msg" ng-bind="formData.fields.resultado.error"></span>
                                            <p>Requerido</p>
                                        </div>
                                        <button ng-bind="strings.botaoCalcular" type="submit" class="btn btn-primary btn-large"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

