<div class="container" id="pagina-detalhes">
    <div class="row">

        <div ng-controller="Simulador" id="main" class="col-lg-12 single-property">

            <h1 class="page-header fl">{{strings.titulo}}</h1>

            <div class="property-detail">

                <div class="overview">
                    <div class="overview">
                        <div class="row-fluid">
                            <div class="span6">
                                <h2>{{strings.subtitulo}}</h2>
                                <p>{{strings.texto}}</p>
                            </div>
                            <div class="span6">
                                <div class="tab-content">
                                    <form method="post">
                                        <div class="control-group">
                                            <label class="control-label">{{strings.valorCredito}}
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <div class="controls">
                                                <input ng-model="valorCredito" type="number" required="required" name="credito">
                                            </div>
                                                <!-- /.controls -->
                                        </div>
                                            <!-- /.control-group -->

                                        <div class="control-group">
                                            <label class="control-label">{{strings.valorPrestacoes}}
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <div class="controls">
                                                <input ng-model="valorPrestacao" type="number" required="required" name="prestacao">
                                            </div>
                                                <!-- /.controls -->
                                        </div>
                                            <!-- /.control-group -->

                                        <div class="control-group">
                                            <label class="control-label">{{strings.prazoRestante}}
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <div class="controls">
                                                <input ng-model="prazoRestante" type="number" required="required" name="prazoRestante">
                                            </div>
                                                <!-- /.controls -->
                                        </div>
                                            <!-- /.control-group -->

                                        <div class="control-group">
                                            <label class="control-label">{{strings.resultado}}
                                            </label>
                                            <div class="controls">
                                                <input ng-value="resultado" type="text" name="resultado" disabled>
                                            </div>
                                                <!-- /.controls -->
                                        </div>
                                            <!-- /.control-group -->

                                        <button ng-click = "calcular()" class="btn btn-primary btn-large">
                                            {{strings.botaoCalcular}}
                                        </button>
                                    </form>
                                </div>
                            </div>


                                <!-- /.span2 -->
                        </div>
                            <!-- /.row -->
                    </div>
                        <!-- /.overview -->
                </div>

            </div>
        </div>

    </div>
</div> <!-- /.container -->

