/*angularjs ngCloak hack*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*end*/

div.comprar-vender-box {
    width: 44%;
    display: inline-block;
    vertical-align: top;
    min-height: 212px;
    margin-top: 28px;
}

#comprar-vender {
    text-align: center;
    background: rgba(0, 0, 0, 0.6) url(/assets/LandingPage/Content/img/menu_divider.png) no-repeat center;
    padding: 0 0 18px 0;
    border-radius: 5px;
    height: 212px;
    margin-top: 32px;
}

.form-group {
    position: relative;
}

.video-container,
.img-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 42px;
    height: 0;
    overflow: hidden;
}

.img-container {
    padding-bottom: 20%;
    padding-top: 8%;
    height: 0;
    overflow: hidden;
    margin-top: 24px;
    text-align: center;
}

.video-container iframe,
.video-container object,
.video-container embed,
.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container img {
    height: auto;
    max-width: 451px;
    position: relative;
}

nav {
    top: 0;
    bottom: inherit;
    position: absolute;
    margin-top: 0;
}

.row.countdown {
    margin-top: 16px;
    min-width: 100px;
    max-width: 680px;
    width: 100%;
    left: 0%;
    /* position: relative; */
    /* margin-left: -400px; */;
    display: inline-block;
}

@media (min-width: 1024px) {
    .row.countdown {
        max-width: 448px;
        width: 100%;
    }
}

@media (min-width: 1920px) {
    .row.countdown {
        max-width: 680px;
        width: 100%;
    }
}

select {
    cursor: pointer;
}

.select {
    background: white url('/assets/LandingPage/Content/img/down.png') no-repeat right center;
}

.xd-align-center {
    text-align: center;
}