<div id="wrapper">
    <div id="main">
        <div class="container">
            <!--<div id="logo"><img src="Content/img/logo.png" alt=""></div>-->

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1" id="comprar-vender">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="message-booking"></div>
            </div>


        </div><!-- End container -->

    </div><!-- End main -->

</div><!-- End wrapper -->

<div id="slides">
    <ul class="slides-container">
        <li><img src="Content/img/slide_1.jpg" alt=""></li>
        <li><img src="Content/img/slide_2.jpg" alt=""></li>
        <li><img src="Content/img/slide_3.jpg" alt=""></li>
    </ul>
</div><!-- End background slider -->