<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ProConsórcio - Tudo para consórcios!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- Favicons-->
            <!--<link rel="shortcut icon" href="Content/img/favicon.ico" type="image/x-icon"/>-->


        <link rel="apple-touch-icon" type="image/x-icon" href="@routes.Assets.at("LandingPage/Content/img/apple-touch-icon-57x57-precomposed.png")">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="@routes.Assets.at("LandingPage/Content/img/apple-touch-icon-72x72-precomposed.png")">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="@routes.Assets.at("LandingPage/Content/img/apple-touch-icon-114x114-precomposed.png")">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="@routes.Assets.at("LandingPage/Content/img/apple-touch-icon-144x144-precomposed.png")">

            <!-- CSS -->
        <link href="@routes.Assets.at("LandingPage/Content/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("LandingPage/Content/css/style.css")" rel="stylesheet">
        <link href="@routes.Assets.at("LandingPage/Content/fontello/css/fontello.css")" rel="stylesheet" >
        <link href="@routes.Assets.at("LandingPage/Content/fontello/css/animation.css")" rel="stylesheet" >
        <link href="@routes.Assets.at("LandingPage/Content/css/datepicker.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("LandingPage/Content/css/weather.css")" rel="stylesheet"  />

        <link href="@routes.Assets.at("LandingPage/Content/css/Custom.css")" rel="stylesheet"  />

            <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.Script/js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
            <!-- JQUERY -->
        <script src="@routes.Assets.at("LandingPage/Script/js/jquery-1.10.2.min.js")"></script>
        <script src="@routes.Assets.at("LandingPage/Script/js/jquery.easing.1.3.min.js")"></script>
        <script src="@routes.Assets.at("LandingPage/Script/js/jquery.animate-enhanced.min.js")"></script>
        <script src="@routes.Assets.at("LandingPage/Script/js/jquery.superslides.min.js")"></script>
            <!-- OTHER JS -->
        <script src="@routes.Assets.at("LandingPage/Script/js/jquery.zweatherfeed.min.js")"></script>
        <script src="@routes.Assets.at("LandingPage/Script/js/retina.min.js")"></script>
        <script src="@routes.Assets.at("LandingPage/Script/js/jquery.placeholder.min.js")"></script>
        <script  src="@routes.Assets.at("LandingPage/Script/js/bootstrap-datepicker.min.js")"></script>
        <script  src="@routes.Assets.at("LandingPage/Script/js/functions.js")"></script>
        <script src="@routes.Assets.at("LandingPage/Script/assets/validate.js")"></script>

            <!--Scripts-->
        <script src="@routes.Assets.at("LandingPage/Script/Libs/knockout.js")"></script>
        <script src="@routes.Assets.at("LandingPage/Script/Libs/knockout.mapping.js")"></script>
        <script src="@routes.Assets.at("LandingPage/Script/Libs/class.js")"></script>
        <script src="@routes.Assets.at("LandingPage/Script/Libs/require.js")" data-main="@routes.Assets.at("LandingPage/Script/Main.js")"></script>
    </body>
</html>
