<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ProConsórcio - Tudo para consórcios!</title>

        <link rel="apple-touch-icon" type="image/x-icon" href="@routes.Assets.at("LandingPage/Content/img/apple-touch-icon-57x57-precomposed.png")">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="@routes.Assets.at("LandingPage/Content/img/apple-touch-icon-72x72-precomposed.png")">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="@routes.Assets.at("LandingPage/Content/img/apple-touch-icon-114x114-precomposed.png")">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="@routes.Assets.at("LandingPage/Content/img/apple-touch-icon-144x144-precomposed.png")">

            <!-- CSS -->
        <link href="@routes.Assets.at("LandingPage/Content/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("LandingPage/Content/css/style.css")" rel="stylesheet">
        <link href="@routes.Assets.at("LandingPage/Content/fontello/css/fontello.css")" rel="stylesheet" >
        <link href="@routes.Assets.at("LandingPage/Content/fontello/css/animation.css")" rel="stylesheet" >
        <link href="@routes.Assets.at("LandingPage/Lib/select2-3.5.1/select2.css")" rel="stylesheet" >

        <link href="@routes.Assets.at("LandingPage/Content/css/Custom.css")" rel="stylesheet" />

        <script src="@routes.Assets.at("/LandingPage/Lib/require.js")"
        data-main="@routes.Assets.at("/LandingPage/Script/main")"></script>

            <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.Script/js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>
    <body ng-controller="Main">

        <div class="container">
            <nav>
                <ul id="contact_follow">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class=" icon-googleplus"></span></a></li>
                </ul>
                <ul class="menu">
                    <li><a href="login" id="btn-souUsuario">Já sou usuário</a>
                    </li>
                </ul>
            </nav>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 center">
                    <div class="img-container">
                        <img src="/assets/LandingPage/Content/img/logo.png">
                    </div>
                </div>
            </div>
            <div class="xd-align-center">
                <div class="row countdown">
                    <div class="video-container">
                        <iframe src="//www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="comprar-vender">
                <div id="book" class="comprar-vender-box">
                    <h4>Quero Comprar</h4>

                    <form role="form" method="get" action="/pesquisa" id="check_avail"
                    autocomplete="off">
                        <div class="form-group">
                            <select ng-model="tipos.selecionado" class="form-control select" name="tipo">
                                <option value="-1" selected disabled>Consórcios de...</option>
                                <option ng-repeat="tipo in tipos.lista" ng-value="tipo.codigo">
                                                    {{tipo.descricao}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-check">Pesquisar</button>
                        </div>
                    </form>
                </div>
                <div id="book2" class="comprar-vender-box">
                    <h4>Quero Vender</h4>

                    <form role="form" method="post" action="/signupmail" id="check_avail"
                    autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control" name="email"
                            placeholder="E-mail">
                            <span class="input-icon"><i class="icon-mail-3"></i></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-check">Anunciar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="slides">
            <ul class="slides-container">
                <li><img src="/assets/LandingPage/Content/img/slide_1.jpg" alt=""></li>
                <li><img src="/assets/LandingPage/Content/img/slide_2.jpg" alt=""></li>
                <li><img src="/assets/LandingPage/Content/img/slide_3.jpg" alt=""></li>
            </ul>
        </div> <!-- End background slider -->

        <div id="slides">
            <ul class="slides-container">
                <li><img src="/assets/LandingPage/Content/img/slide_1.jpg" alt=""></li>
                <li><img src="/assets/LandingPage/Content/img/slide_2.jpg" alt=""></li>
                <li><img src="/assets/LandingPage/Content/img/slide_3.jpg" alt=""></li>
            </ul>
        </div> <!-- End background slider -->

    </body>
</html>

