@(signUpForm:play.api.data.Form[_root_.plugin.CustomRegistration.RegistrationInfo], token: String)(implicit request: play.api.mvc.RequestHeader)
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@securesocial.views.html.main( Messages("securesocial.signup.title") ) {
    <div class="page-header">
        <h1>@Messages("securesocial.signup.title")</h1>
    </div>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @msg
        </div>
    }

    <form action="@_root_.plugin.CustomRoutesHelper.handleSignUp(token).absoluteURL(IdentityProvider.sslEnabled)(request)"
          class="form-horizontal"
          autocomplete= "off"
          method="POST"
    >
        <fieldset>
            @if( UsernamePasswordProvider.withUserNameSupport ) {
                @helper.inputText(
                    signUpForm("userName"),
                    '_label -> Messages("securesocial.signup.username"),
                    'class -> "input-xlarge"
                )
            }

            @helper.inputText(
                signUpForm("firstName"),
                '_label -> Messages("Nome Completo"),
                'class -> "input-xlarge"
            )


            @helper.inputPassword(
                signUpForm("password.password1"),
                '_label -> Messages("securesocial.signup.password1"),
                'class -> "input-xlarge"
            )

            @helper.inputPassword(
                signUpForm("password.password2"),
                '_label -> Messages("securesocial.signup.password2"),
                '_error -> signUpForm.error("password"),
                'class -> "input-xlarge"
            )


            @helper.inputText(
                signUpForm("numCep"),
                '_label -> Messages("Cep"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("uf"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("cidade"),
                '_label -> Messages("Cidade"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("bairro"),
                '_label -> Messages("Bairro"),
                'class -> "input-xlarge"
            )


            @helper.inputText(
                signUpForm("logradouro"),
                '_label -> Messages("Logradouro (Exemplo: nome  da rua, avenida ...)"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("numLogradouro"),
                '_label -> Messages("Número/Complemento"),
                'class -> "input-xlarge"
            )



            @helper.inputText(
                signUpForm("rg"),
                '_label -> Messages("Identidade"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("ufRg"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("docFederal"),
                '_label -> Messages("CPF/CNPJ"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("numBanco"),
                'class -> "input-xlarge"
            )



            @helper.inputText(
                signUpForm("numAgencia"),
                '_label -> Messages("Agência"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("dvAgencia"),
                '_label -> Messages("Dígito da Agência (Se Houver)"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("numConta"),
                '_label -> Messages("Número da Conta"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("dvConta"),
                '_label -> Messages("Dígito da Conta (Se Houver)"),
                'class -> "input-xlarge"
            )





            @helper.inputPassword(
                signUpForm("numCodigo.numCodigo1"),
                '_label -> Messages("Código de Compra/Venda"),
                'class -> "input-xlarge"
            )

            @helper.inputPassword(
                signUpForm("numCodigo.numCodigo2"),
                '_label -> Messages("Repita o Código de Compra/Venda"),
                '_error -> signUpForm.error("password"),
                'class -> "input-xlarge"
            )


            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("securesocial.signup.createAccount")</button>
                <a class="btn" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>
            </div>
        </fieldset>
    </form>
}