
<div class="container" id="cabecalho">
    <div class="top-inner inverted">
        <div class="header clearfix">

            <div class="branding pull-left">
                <div class="logo">
                    <a href="index.html" title="Home">
                        <img src="Content/img/logo.png" alt="ProConsórcio - Home">
                    </a>
                </div>
                <!-- /.logo -->

                <div class="site-name">
                    <a href="index.html" title="Home" class="brand"></a>
                </div>
                <!-- /.site-name -->
            </div>

            <div class="contact-top">
                <ul class="menu nav">
                    <li class="first leaf facebook">
                        <a href="http://www.facebook.com" class="facebook"><i>F</i></a>
                    </li>

                    <li class="leaf flickr"><a href="http://www.flickr.com" class="flickr"><i>n</i></a></li>

                    <li class="leaf google-plus"><a href="http://plus.google.com" class="google"><i>g</i></a></li>

                    <li class="leaf linkedin"><a href="http://linkedin.com" class="linkedin"><i>l</i></a></li>

                    <li class="leaf twitter"><a href="http://www.twitter.com" class="twitter"><i>T</i></a></li>

                    <li class="last leaf vimeo"><a href="http://vimeo.com" class="vimeo"><i>v</i></a></li>
                </ul>
            </div>

            <div class="user-area pull-right">
                <div class="menu-anonymous-container">
                    <ul id="menu-anonymous" class="nav nav-pills">
                        <li class="menu-item"><a href="login.html#cadastro">Cadastrar</a></li>
                        <li class="menu-item"><a href="login.html">Entrar</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.user-area -->
        </div>
        <!-- /.header --><div class="navigation navbar clearfix">
            <div class="pull-left">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="nav-collapse collapse">
                    <ul id="menu-main" class="nav">
                        <!--<li class="menu-item active-menu-item">-->
                        <li class="menu-item">
                            <a href="">Pesquisar</a>
                            <!--                            <ul class="sub-menu">
                                                            <li class="menu-item"><a href="frontpage-slider.html">Revolution slider</a></li>
                                                            <li class="menu-item"><a href="frontpage-map-vertical.html">Hompage - Vertical filter</a></li>
                                                            <li class="menu-item"><a href="index.html">Hompage - Horizontal filter</a></li>
                                                        </ul>-->
                        </li>

                        <li class="menu-item">
                            <a href="#">Quanto vale minha carta?</a>
                        </li>

                        <li class="menu-item">
                            <a href="#">Conheça o ProConsórcio</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pull-right">
                <div class="list-property">
                    <a href="#">Quero Anunciar<div class="ribbon"><span class="icon icon-normal-circle-plus"></span></div>
                    </a>
                </div>
                <!-- /.list-property -->
            </div>
            <!-- /.pull-right -->

        </div>

        <div class="breadcrumb pull-left">
            <!-- Breadcrumb NavXT 4.4.0 -->
            <a title="ProConsórcio" href="index.html" class="home">ProConsórcio</a> &gt; <span>Pesquisar</span>
        </div>

        <!-- /.breadcrumb -->
    </div>
</div>