<div id="wrapper">
    <div id="main">
        <div class="container">

            <nav>
                <ul id="contact_follow">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class=" icon-googleplus"></span></a></li>
                </ul>
                <ul class="menu">
                    <li><a href="login" id="btn-souUsuario"
                           data-bind="text: btnSouUsuario.texto()"></a>
                    </li>
                </ul>
            </nav>

            <div class="row countdown">
                <div class="col-md-offset-2 col-md-8" style="text-align: center">
                    <div class="img-container">
                        <img src="/assets/LandingPage/Content/img/logo.png">
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-8" style="text-align: center">
                    <div class="video-container">
                        <iframe src="//www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1" id="comprar-vender">
                            <div id="book" class="comprar-vender-box">
                                <h4 data-bind="text: titulo()"></h4>

                                <form role="form" method="post" action="/signupmail" id="check_avail"
                                      autocomplete="off">
                                    <div class="form-group">
                                        <select class="form-control select"
                                                style="background: white url(/assets/LandingPage/Content/img/down.png) no-repeat right center;">
                                            <option selected disabled
                                                    data-bind="text: campos.tipoDeConsorcio.placeholder()"></option>
                                            <optgroup data-bind="foreach:  campos.tipoDeConsorcio.lista">
                                                <option data-bind="value: codigo(), text: tipo()"></option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control select"
                                                style="background: white url(/assets/LandingPage/Content/img/down.png) no-repeat right center;">
                                            <option selected disabled
                                                    data-bind="text: campos.valorDeCredito.placeholder()"></option>
                                            <optgroup data-bind="foreach:  campos.valorDeCredito.lista">
                                                <option data-bind="value: codigo(), text: valor()"></option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn-check" data-bind="text: textoConfirmar()">
                                            Check
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div id="book2" class="comprar-vender-box">
                                <h4 data-bind="text: titulo()"></h4>

                                <form role="form" method="post" action="/signupmail" id="check_avail"
                                      autocomplete="off">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="email"
                                               data-bind="attr:{placeholder:campos.email.placeholder()}">
                                        <span class="input-icon"><i class="icon-mail-3"></i></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn-check" data-bind="text: textoConfirmar()">
                                            Check
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="message-booking"></div>
            </div>


        </div>
        <!-- End container -->

    </div>
    <!-- End main -->

</div><!-- End wrapper -->

<div id="slides">
    <ul class="slides-container">
        <li><img src="/assets/LandingPage/Content/img/slide_1.jpg" alt=""></li>
        <li><img src="/assets/LandingPage/Content/img/slide_2.jpg" alt=""></li>
        <li><img src="/assets/LandingPage/Content/img/slide_3.jpg" alt=""></li>
    </ul>
</div><!-- End background slider -->