<div id="book" class="comprar-vender-box">
    <h4 data-bind="text: titulo()"></h4>
    <form role="form" method="post" action="../Script/assets/booking.php" id="check_avail" autocomplete="off">
        <div class="form-group">
            <select class="form-control select"
                    style="background: white url(/LandingPage/Content/img/down.png) no-repeat right center;">
                <option selected disabled data-bind="text: campos.tipoDeConsorcio.placeholder()"></option>
                <optgroup data-bind="foreach:  campos.tipoDeConsorcio.lista">
                    <option data-bind="value: codigo(), text: tipo()"></option>
                </optgroup>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control select"
                    style="background: white url(/LandingPage/Content/img/down.png) no-repeat right center;">
                <option selected disabled data-bind="text: campos.valorDeCredito.placeholder()"></option>
                <optgroup data-bind="foreach:  campos.valorDeCredito.lista">
                    <option data-bind="value: codigo(), text: valor()"></option>
                </optgroup>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-check" data-bind="text: textoConfirmar()">Check</button>
        </div>
    </form>
</div>