#footer-wrapper { background-color: $color-primary; border-top: 5px solid $color-secondary; margin-top: 40px;
  .widget { background-color: transparent; color: #fff;
    ul, .content, .tagcloud, #calendar_wrap, .property { background-color: transparent; box-shadow: none; padding: 0; }
    form { padding-left: 0; padding-right: 0;
      label { color: #fff; padding: 0; }
    }
    h2 { @include footer-h2; }
    input, textarea, .uneditable-input, #inputDate  { background-color: rgba(0,0,0,0.1); border-color: rgba(255,255,255,0.2); color: #fff;
      &:focus { background-color: #fff; border-color: #fff; color: $color-dark-gray; transition: 0.3s ease all; }
    }
    &.properties {
      .property { background-color: rgba(0,0,0,0.05); margin-bottom: 10px; padding: 10px;
        a { color: #fff; }
        .location { color: rgba(255,255,255,0.6); }
        .price { background-color: $color-secondary; color: #fff; }
      }
      .property-info { display: none; }
    }
    &.widget-archive, &.widget-pages, &.widget-meta, &.widget-recent_entries, &.widget-rss, &.widget-categories, &.widget-nav_menu, &.widget-recent_comments, {
      ul {padding: 0px;
        li { border-bottom: 1px solid rgba(255,255,255,0.2);
          a { color: #fff; }
          &:last-child { border-bottom: none; }
        }
      }
    }
    &.our-agents {
      .content {
        .agent { border-bottom: 1px solid rgba(255,255,255,0.2);
          &:last-child { border-bottom: none; }
          .name {
            a { color: #fff; }
          }
          .phone { color: rgba(255,255,255,0.6); }
          .email {
            a { color: rgba(255,255,255,0.6); }
          }
        }
      }
    }
    &.login, &.register, &.widget-search {
      .btn { @include secondary-button; }
    }
    @media (min-width: 1199px) {
      &.login, &.register, &.widget-search  {
        .btn { @include secondary-button; }
      }
    }
    &.widget-tag_cloud {
      a { color: #fff; }
    }
    &.widget-calendar {
      #calendar_wrap {
        caption { color: #fff; }
      }
    }

  }

	@media (max-width: 767px) {
		margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px;
	}
}

.footer-bottom { background-color: rgba(0,0,0,0.1); margin-top: 20px; padding-bottom: 20px; padding-top: 20px;
   .widget{ border: 0px; vertical-align: middle;
     &.widget-nav_menu { float: right;
       ul {
         li { border-bottom: none; display: inline-block; margin-top: 0px;
          a { font-weight: normal; padding-bottom: 0px; }
					 &:last-child { margin-right: 0px; }
         }
       }
     }
   }

	@media (max-width: 767px) {
		margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px;

		.widget { float: none !important;
			.menu {
				li { border-bottom: 1px solid rgba(255, 255, 255, .1) !important; display: block; padding: 10px 0px; width: 100%; }
			}
		}
	}

 }