.login-register {
  h2 { font-size: 24px; text-align: center; margin-top: 20px; }
  hr { border: none; border-top: 1px solid $color-light-gray; display: block; margin-bottom: 0px; margin-top: 30px; }
}