@(loginForm: play.api.data.Form[(String, String)], errorMsg: Option[String] = None)(implicit request: play.api.mvc.RequestHeader)

@import helper._
@import securesocial.core.Registry
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword

<div ng-cloak class="container" id="pagina-loginCadastro">
    <div class="row">

        <div id="main" class="span12">

            <div class="login-register">
                <h2>Área de Login</h2>
                <div class="row">
                    @errorMsg.map { msg =>
                        <div class="alert alert-error">
                            @Messages(msg)
                        </div>
                    }
                    @request.flash.get("success").map { msg =>
                        <div class="alert alert-info">
                            @msg
                        </div>
                    }
                    @request.flash.get("error").map { msg =>
                        <div class="alert alert-error">
                            @msg
                        </div>
                    }
                    <div class="span6 offset3">
                    @defining(Registry.providers.all.values.filter(_.id != UsernamePassword)) { externalProviders =>

                        @if(externalProviders.size > 0) {
                            <div class="clearfix">
                                <h1>@Messages("securesocial.login.instructions")</h1>
                                <p>
                                @for(p <- externalProviders) {
                                    @provider(request, p.id)
                                }
                                </p>
                            </div>
                        }

                        @if(externalProviders.size > 0) {
                            <h1>@Messages("securesocial.login.useEmailAndPassword")</h1>
                        } else {
                            <h1>@Messages("securesocial.login.useEmailAndPasswordOnly")</h1>
                        }
                    <div class="tab-content">
                        <div class="tab-pane active" id="login">
                        @Registry.providers.get(UsernamePassword).map { up => @provider(request, "userpass", Some(loginForm))}
                    </div>
                    </div>
                        <!-- /.tab-content -->
                    </div>
                        <!-- /.span4-->


                }
                </div>
                    <!-- /.row -->
                <hr>
            </div>
                <!-- /.login-register -->

        </div>
            <!-- /#main -->

    </div>
        <!-- /.row -->
</div>
    <!-- /.container -->