/*angularjs ngCloak hack*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*end*/

/*TODO  provavelmente isso não será mais necessário*/
#all-content {
    opacity: 1;
    transition: opacity 0.2s ease;
}

/*it makes the footer stuck to the page bottom*/
html, body, #all-content {
    height: 100%;
}

#page-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -89px;
}

#push {
    height: 89px;
}

#footer-wrapper {
    height: 84px;
}

/*end*/

dd.error {
    color: red;
    font-weight: bolder;
}

.logo img {
    max-height: 42px;
}

@media (max-width: 445px) {
    .menu-item a {
        color: white !important;
    }
}

#content {
    min-height: 400px;
    padding-top: 1em;
}

#pagina-dadosCadastrais .tab-content {
    min-height: 544px;
}

#pagina-novaCarta .tab-content {
    min-height: 296px;
}

input, textarea, .uneditable-input {
    width: 174px;
}

select {
    width: 190px;
}

.submissions-table tbody tr td.actions .download {
    position: relative;
    margin-right: 10px;
    padding: 5px 30px 5px 10px;
}

.submissions-table tbody tr td.actions .download:after {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-font-smoothing: antialiased;
    font-family: 'PictoPro-Normal';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    color: #00915E;
    content: "\e0f9";
    font-size: 20px;
    position: absolute;
    right: 5px;
}

#pagina-escritorio {
    overflow: auto;
}

#pagina-detalhes button.btn.btn-primary.btn-large {
    background-color: #00915E;
    width: 100%;
    position: relative;
    margin-bottom: 8px;
}

#pagina-detalhes button.btn.btn-primary.btn-large ::after {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-font-smoothing: antialiased;
    font-family: 'PictoPro-Normal';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    color: white;
    content: "\e0f9";
    font-size: 20px;
    position: absolute;
    margin: 0px 10px;
    right: 0;
}

#pagina-detalhes button.btn.btn-primary.btn-large.edit ::after {
    content: "\e06e";
}

#pagina-detalhes button.btn.btn-primary.btn-large.remove ::after {
    content: "\e04b";
}

#resultadosPesquisa .price, #resultadosPesquisa .location {
    margin-top: 12px;
}

#resultadosPesquisa .title-price .title {
    margin-bottom: 12px;
}

.limpar-filtros {
    background-color: #003f4f;
}

#simulador input {
    text-align: right;
}

.form-required {
    color: red;
    font-size: 0.9em;
}

label {
    cursor: default;
}

/*tabbabble hack*/
.tabbable .nav {
    margin-bottom: 0;
}

/*end*/

/*datatables*/
.dataTables_length select {
    width: 5em;
    margin-right: 1em;
}

/*end*/