@(ordered: Option[java.util.List[Tweet]], retweets: Int, queryForm: Form[String])

@import helper._

@import scala.collection.JavaConverters._

@main("Trends") {
    @form(routes.Waitress.search) {
        @inputText(queryForm("query"))
        <input type="submit" value="Search">
    }

    @if(ordered.isDefined && ordered.get.size > 0) {
        <h4>Tweets = @ordered.get.size     Retweets = @retweets</h4>
        <table class="table">
            <thead>
                <td>Timestamp</td> <td>Retweets</td> <td>Text</td>
            </thead>

            @ordered.get.asScala.map { t =>
                <tr>
                    <td>
                        @String.format("%tF %tT", t.date, t.date)
                    </td>
                    <td>
                        @t.retweets
                    </td>
                    <td>
                        @t.json
                    </td>
                </tr>
            }
        </table>
    }

}