<div class="footer-bottom">
    <div id="footer" class="footer container">
        <div id="footer-inner">
            <div class="row">
                <div class="span6">
                    <div id="text-3" class="widget widget-text">
                        <div class="textwidget">&copy; 2014 ProConsórcio, Todos Direitos reservados.</div>
                    </div>
                </div>
                    <!-- /.copyright -->

                <div class="span6">
                    <div id="nav_menu-3" class="widget widget-nav_menu">
                        <div class="menu-footer-links-container">
                            <ul id="menu-footer-links" class="menu">
                                    <!--<li class="menu-item active"><a href="/">Homepage</a></li>-->
                                <li class="menu-item"><a href="http://xdevel.com.br">
                                    <img src="@routes.Assets.at("App/Content/img/logo-xdevel-rodape.png")"/>
                                </a></li>
                                    <!--<li class="menu-item"><a href="faq.html">FAQ</a></li>
                                    <li class="menu-item"><a href="/contact">Contact</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                    <!-- /.span6 -->
            </div>
                <!-- /.row -->
        </div>
            <!-- /#footer-inner -->
    </div>
        <!-- /#footer -->
</div>

